---
import { astroI18n, t } from 'astro-i18n';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>{t('hi')} from {Astro.url.pathname}</h1>
    <p>locale is {astroI18n.locale}</p>

    <div class="text-blue-500 space-x-4">
      <a href="/about">About</a>
      <a href="/luxury-villa-rental">Search page</a>
    </div>
  </main>
</Layout>
