---
import { getHouses } from '~/utils/houses';

import Layout from '~/layouts/Layout.astro';

const houses = await getHouses(Astro.url.searchParams, 'en', 1);

console.log(houses);
---

<Layout title="Search page">
  <h1>Search page</h1>
</Layout>
